* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  
#wrapper {
  position: relative;
}
  
.container {
  width: 100%;
  height: 100%;
}
  
body {
  margin: 0;
  padding: 0;
}
  
.navbar {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  background-color: #333;
  color: white;
}

.navbar-links {
  height: 100%;
}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a  {
  display: block;
  color: white;
  text-decoration: none;
  font-size: 25px;
  padding: 1rem;
}

.navbar-links li:hover {
  background-color: #555;
}

.toggle-button {
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}
  
@media (max-width: 600px){
  .toggle-button {
    display: flex;
  }

  .navbar-links {
   display: none;
   width: 100%;
  }
  
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links ul li {
    text-align: center;
  }

  .navbar-links ul li a {
    padding: .5rem 1rem;
  }

  .navbar-links.active {
    display: flex;
  }
}
   
#home {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  background-color: #3264C2;
}
  
.welcome  {
  color: #000000;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 25px;
  margin: 100px;
  padding: 40px;
}
  
#projects {
  display: block;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-size: cover;
}

.projects-title {
  padding-top: 90px;
  justify-content: center;
  text-align: center;
  font-size: 30px;
  color: #000000;
}

.projects-group-row {
  display: flex;
  flex-direction: column;
}

.projects-group-column {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  margin: 20px;
}
  
.projects-group-column img {
  width: 50%;
  height: 50%;
  justify-content: center;
  text-align: center;
  opacity: 1.0;
  border: 1px solid #012c78;
}

.projects-group-column h3 {
  color: #000000;
}
  
.projects-group-column img:hover {
    opacity: 0.7;
  }

@media (max-width: 800px) {

  #projects {
    height: 100%;
  }

  .projects-title {
    padding-top: 115px;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    color: #000000;
  }
  
  .projects-group-column {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
  }

  .contact-title {
    padding-top: 90px;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    color: #ddf0ff;
  }

  .contact-me {
    justify-content: center;
    text-align: center;
    font-size: 25px;
    color: #020101;
  }
}
  
#contact  {
  display: flex;
  flex-direction: column;
  padding-top: 90px;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
  height: 100%;
}

.contact-title {
  justify-content: center;
  text-align: center;
  font-size: 30px;
  color: #ffffff;
}

.contact-title h2 {
  font-size: 25px;
  color: rgb(32, 128, 211);
}

.links {
  text-decoration: none;
}

.contact-form { 
  width: 100%;
  height: 100%;
  position: relative;
  align-items: center;
  text-align: center;
  transform: translate(-50%, 0%);
  left: 50%;
  top: 50%;
  padding: 40px 20px;
  box-sizing: border-box;
  font-family: "Gill Sans", sans-serif;
  opacity: 50%;
}

.txtb {
  border: 2px solid rgb(0, 0, 0);
  margin: 8px 0;
  padding: 12px 18px;
  background: rgb(242, 252, 249);
}

.txtb label {
  display: block;
  text-align: left;
}

.txtb input, .txtb textarea {
  width: 100%;
  border: none;
  background: none;
  outline: none; 
  font-size: 20px;
  font-family: "Gill Sans", sans-serif;
  margin-top: 6px;
  color: #000000;
}

::placeholder {
  color: rgb(0, 0, 0);
  font-size: 1.2em;
}

#sendmessage {
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  color: rgb(10, 198, 19);
}

#sendBtn {
  border: 4px;
  margin: 4px 2px;
  background-color: #5ad3e7;
  border-radius: 3px;
  padding: 4px 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
}
  
#sendBtn:hover {
  background-color: #3264C2;
  transition: background-color 0.6s;
}

.links i {
  padding: 20px 0;
  font-size: 30px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  margin: 10px;
  color: rgb(255, 255, 255);
}

.fa:hover {
    opacity: 0.7;
}
